<br><br>

<!-- app -->
<div class="row-fluid">


  <div class="tabbable tabs-left">





    
    <!-- tabs -->
    <ul class="nav nav-tabs nav-tabs-app" style="margin-right: 0px;">

      <li class="{{(views.purchaser==true) && 'active'}}">
        <a ng-click="resetPurchaser(); setViewTo('purchaser')" 
            data-toggle="tab"><span aria-hidden="true" class="icomoon icomoon-cart-4"></span> Buy number</a>
      </li>

      <li class="{{(views.manager==true) && 'active'}}">
        <a ng-click="setViewTo('manager')" 
            data-toggle="tab"><span aria-hidden="true" class="icomoon icomoon-contact-add"></span> Add number</a>
      </li>

      <li class="{{(views.notifier==true) && 'active'}}">
        <a ng-click="setViewTo('notifier')" 
            data-toggle="tab"><span aria-hidden="true" class="icomoon icomoon-bullhorn-2"></span> Call notifications</a>
      </li>

      <li class="{{(views.reporter==true) && 'active'}}">
        <a ng-click="setViewTo('reporter')" 
            data-toggle="tab"><span aria-hidden="true" class="icomoon icomoon-file-10"></span> Recent calls</a>
      </li>

      <li class="{{(views.guarder==true) && 'active'}}">
        <a ng-click="setViewTo('guarder')" 
            data-toggle="tab"><span aria-hidden="true" class="icomoon icomoon-thumbs-up-5"></span> Blacklist</a>
        </li>

    </ul>
    <!-- end tabs -->






    <!-- tabs content -->
    <div class="tab-content">






      <!-- purchaser -->
      <div class="tab-pane {{(views.purchaser==true) && 'active'}}">
        <div class="tab-header">
          <h3 class="pull-left">Buy number</h3>
        </div>
        <hr>

        <ul class="breadcrumb">
          <li>
            <span class="label">1</span>&nbsp;
            <a ng-click="switchStep(1)" ng-show="purchaser.step > 1">Buy number</a>
            <span ng-show="purchaser.step < 2">Buy number</span>
            <span class="divider">></span>
          </li>
          <li>
            <span class="label">2</span>&nbsp;
            <a ng-click="switchStep(2)" ng-show="purchaser.step > 2">Payment types</a>
            <span ng-show="purchaser.step < 3">Payment types</span>
            <span class="divider">></span>
          </li>
          <li>
            <span class="label">3</span>&nbsp;
            <a ng-click="switchStep(3)" ng-show="purchaser.step > 3">User information</a>
            <span ng-show="purchaser.step < 4">User information</span>
            <span class="divider">></span>
          </li>
          <li>
            <span class="label">4</span>&nbsp;
            <a ng-click="switchStep(4)" ng-show="purchaser.step > 4">Credit card details</a>
            <span ng-show="purchaser.step < 5">Credit card details</span>
            <span class="divider">></span>
          </li>
          <li>
            <span class="label">5</span>&nbsp;
            <a ng-click="switchStep(5)" ng-show="purchaser.step > 5">Confirmation</a>
            <span ng-show="purchaser.step < 6">Confirmation</span>
          </li>
        </ul>


        <div class="row-fluid">

          <div class="span9">

            <ul style="list-style: none; margin: 0; padding: 0;">

              <li ng-show="purchaser.step == 1">
                <h4>Number types</h4>
                <p>We are providing many options for your Oneline number.</p>

                <form class="form-horizontal">
                  <!-- number types -->
                  <div class="control-group alert alert-block" style="position: relative;">
                    <label class="control-label" for="inputEmail">Types</label>
                    <div class="controls">
                      
                      <ul ng-repeat="package in packages" style="list-style: none; margin: 0, padding: 0;">
                        <li>
                          <label class="radio">
                            <input type="radio" ng-model="order.package" ng-click="setPackage(package.id)" value="{{package.id}}">&nbsp;{{package.label}}
                            <!-- <input type="radio" ng-model="order.package" value="{{package.id}}">&nbsp;{{package.label}} -->
                          </label>
                        </li>
                      </ul>

                      <!-- <ul style="list-style: none; margin: 0, padding: 0;">
                        <li>
                          <label class="radio">
                            <input type="radio" ng-model="order.type" ng-click="setNumberType('local')" value="local">&nbsp;Local numbers
                          </label>
                        </li>
                        <li>
                          <label class="radio">
                            <input type="radio" ng-model="order.type" ng-click="setNumberType('virtual')" value="virtual">&nbsp;Virtual numbers
                          </label>
                        </li>
                        <li>
                          <label class="radio">
                            <input type="radio" ng-model="order.type" ng-click="setNumberType('premium')" value="premium">&nbsp;Premium
                          </label>
                        </li>
                      </ul> -->
                    </div>

                    <div style="position: absolute; bottom: 10px; left: 10px; font-size: 1.8em; font-weight: bold; color: gray">1</div>
                  </div>
                  <!-- end number types -->

                  <!-- countries -->
                  <div class="control-group alert alert-block" style="position: relative;" ng-show="(order.package==1) || (order.package==2)">
                    <label class="control-label" for="inputPassword">Country</label>
                    <div class="controls">
                      <select ng-model="order.country" 
                              ng-options="country.id as country.label for country in countries">
                              <!-- ng-change="setCountry()"> -->
                      </select>
                    </div>

                    <div style="position: absolute; bottom: 10px; left: 10px; font-size: 1.8em; font-weight: bold; color: gray">2</div>
                  </div>
                  <!-- end countries -->

                  <!-- regions local -->
                  <div class="control-group alert alert-block" style="position: relative;" ng-show="(order.package==1)">
                    <label class="control-label" for="inputPassword">Regions</label>
                    <div class="controls">
                      <select ng-model="order.region" 
                              ng-options="region.id as region.label for region in regions"
                              ng-change="setRegion()">
                        <option value="">Please select your region</option>
                      </select>
                    </div>

                    <div style="position: absolute; bottom: 10px; left: 10px; font-size: 1.8em; font-weight: bold; color: gray">3</div>
                  </div>
                  <!-- end regions local -->

                  <!-- numbers local -->
                  <div class="control-group alert alert-block" style="position: relative;" ng-show="(order.package==1) && order.region">
                    <label class="control-label" for="inputPassword">Numbers (Local)</label>
                    <div class="controls">

                      <table class="table table-striped">
                        <tr ng-repeat="number in numbers">
                          <td>
                            <label class="radio">
                              <input type="radio" ng-model="order.number" value="{{number}}">&nbsp;
                              +{{order.country}} ({{order.region}}) {{number}}
                            </label>
                          </td>
                        </tr>
                      </table>

                    </div>

                    <div style="position: absolute; bottom: 10px; left: 10px; font-size: 1.8em; font-weight: bold; color: gray">4</div>
                  </div>
                  <!-- end numbers local -->

                  <!-- regions virtual -->
                  <div class="control-group alert alert-block" style="position: relative;" ng-show="(order.package==2)">
                    <label class="control-label" for="inputPassword">Services</label>
                    <div class="controls">
                      <select ng-model="order.virtual" 
                              ng-options="virtual.id as virtual.label for virtual in virtuals"
                              ng-change="setVirtual()"
                              class="span6">
                        <option value="">Please select a virtual service</option>
                      </select>
                    </div>

                    <div style="position: absolute; bottom: 10px; left: 10px; font-size: 1.8em; font-weight: bold; color: gray">3</div>
                  </div>
                  <!-- end regions virtual -->

                  <!-- ranges virtual -->
                  <div class="control-group alert alert-block" style="position: relative;" ng-show="(order.package==2) && order.virtual">
                    <label class="control-label" for="inputPassword">Virtual area code</label>
                    <div class="controls">
                      <ul style="list-style: none; margin: 0; padding: 0; margin-top: 5px;">
                        <li ng-repeat="range in ranges" style="display: inline; float: left; width: 60px; margin: 0 15px 0 0;">
                          <label class="radio">
                            <input type="radio" ng-model="order.range" value="{{range}}" ng-click="setVirtualArea()">&nbsp;{{range}}
                          </label>
                        </li>
                      </ul>
                    </div>

                    <div style="position: absolute; bottom: 10px; left: 10px; font-size: 1.8em; font-weight: bold; color: gray">4</div>
                  </div>
                  <!-- end ranges virtual -->

                  <!-- numbers virtual -->
                  <div class="control-group alert alert-block" style="position: relative;" ng-show="(order.package==2) && order.virtual && order.range">
                    <label class="control-label" for="inputPassword">Numbers (Virtual)</label>
                    <div class="controls">

                      <table class="table table-striped">
                        <tr ng-repeat="number in numbers">
                          <td>
                            <label class="radio">
                              <input type="radio" ng-model="order.number" value="{{number}}">&nbsp;
                              +{{order.country}} ({{order.range}}) {{number}}
                            </label>
                          </td>
                        </tr>
                      </table>

                    </div>

                    <div style="position: absolute; bottom: 10px; left: 10px; font-size: 1.8em; font-weight: bold; color: gray">4</div>
                  </div>
                  <!-- end numbers virtual -->

                  <!-- premium stuff -->
                  <div class="control-group alert alert-block" style="position: relative;" ng-show="(order.package==3)">
                    <label class="control-label" for="inputPassword">Premium stuff</label>
                    <div class="controls"></div>

                    <div style="position: absolute; bottom: 10px; left: 10px; font-size: 1.8em; font-weight: bold; color: gray">2</div>
                  </div>
                  <!-- end premium stuff -->
                </form>
              </li>





              <li ng-show="purchaser.step == 2">
                <h4>Payment types</h4>
                <p>Payment types</p>
              </li>





              <li ng-show="purchaser.step == 3">
                <h4>User information</h4>
                <p>User information</p>
              </li>





              <li ng-show="purchaser.step == 4">
                <h4>Credit card details</h4>
                <p>Credit card details</p>
              </li>





              <li ng-show="purchaser.step == 5">
                <h4>Confirmation</h4>
                <p>Confirmation</p>
              </li>




            </ul>

            <hr>

            <ul class="pager">
              <li class="previous">
                <a ng-click="decreaseStep()" ng-show="purchaser.step > 1">Previous</a>
              </li>
              <li class="next">
                <a ng-click="increaseStep()" ng-show="purchaser.step < 5">Next</a>
              </li>
            </ul>
          </div>

          <div class="span3">

            <div id="basket" data-spy="affix" data-offset-top="200">

              <h4>Basket</h4>
              <p>Selected basket contents</p>

              <div class="alert alert-block" style="margin-top: -2px;">
                <div ng-hide="order.package">You have not selected anything yet.</div>

                <dl ng-show="order.package">

                  <dt>Number type:</dt>
                    <dd>{{order.package | translatePackage}}</dd>

                  <dt>Country:</dt>
                    <dd>{{order.country | translateCountry}}</dd>

                  <dt ng-show="(order.package==1) && order.region">Region:</dt>
                    <dd ng-show="(order.package==1) && order.region">{{order.region | translateRegion:order.country}}</dd>

                  <dt ng-show="(order.package==2) && order.virtual">Virtual service:</dt>
                    <dd ng-show="(order.package==2) && order.virtual">{{order.virtual | translateService}}</dd>

                  <dt ng-show="(order.package==2) && order.virtual && order.range">Selected virtual area code:</dt>
                    <dd ng-show="(order.package==2) && order.virtual && order.range">{{order.range}}</dd>

                  <dt ng-show="order.number">Number:</dt>
                    <dd ng-show="order.number">
                      <span ng-show="(order.package==1)">+{{order.country}} ({{order.region}}) {{order.number}}</span>
                      <span ng-show="(order.package==2)">+{{order.country}} ({{order.range}}) {{order.number}}</span>
                    </dd>

                </dl>
              </div>

            </div>

            <div style="display: inline; float: left; margin-top: 15px;">
              <span aria-hidden="true" class="icomoon icomoon-mobile-5" style="font-size: 8em; margin-left: -20px;"></span>
            </div>
            <h4 style="margin-top: 35px;">What kind of number should I buy?</h4>
            <p>First impression is always important. Your number should tell you about something about you or just you!</p>
          </div>

        </div>

      </div>
      <!-- end purchaser -->






      <!-- manager -->
      <div class="tab-pane {{(views.manager==true) && 'active'}}">
        <div class="tab-header">
          <h3 class="pull-left">Add number</h3>
        </div>
        <hr>

        <div class="row-fluid">

          <div class="span9">
            <form class="form-inline well">
              <input type="text" class="input-medium" placeholder="Label">&nbsp;
              <input type="password" class="input-large" placeholder="Telefon number">&nbsp;
              <button type="submit" class="btn">Add</button>
            </form>

            <!-- <h4>Numbers</h4> -->
            
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="width: 100px;"></th>
                  <th>Label</th>
                  <th>Telefon number</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><span class="label label-success">Verified</span></td>
                  <td>Home</td>
                  <td>+31 (78) 7501234</td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-mini">Edit</button>
                      <button type="button" class="btn btn-mini">Delete</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><span class="label label-warning">Pending</span></td>
                  <td>Work</td>
                  <td>+31 (629) 123456</td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-mini">Edit</button>
                      <button type="button" class="btn btn-mini">Delete</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="span3">
            <div style="display: block;" class="text-center">
              <span aria-hidden="true" class="icomoon icomoon-phone-7" style="font-size: 10em; line-height: 1.2em;"></span>
            </div>
            <h4>Proin consequat lacus nisl,</h4>
            <p>Nulla adipiscing imperdiet dictum. Nulla sagittis augue magna, lobortis egestas massa pretium vel. Nam congue malesuada nisi, sed elementum odio commodo mollis. Morbi sed enim imperdiet, suscipit leo non, ultricies massa. Proin a tincidunt urna.</p>
          </div>

        </div>

      </div>
      <!-- end manager -->






      <!-- notifier -->
      <div class="tab-pane {{(views.notifier==true) && 'active'}}">
        <div class="tab-header">
          <h3 class="pull-left">Missed Call Notificationss</h3>
        </div>
        <hr>

        <div class="row-fluid">

          <div class="span9">
            <p>Your smart secretary can send notifcations about your missed calls.</p>

            <form class="form-inline">

              <table class="table table-striped">
                <tr>
                  <td>
                    <label class="checkbox">
                      <input type="checkbox"> Email Notification
                    </label>
                  </td>
                  <td>
                    <input type="text" class="input-large" placeholder="">
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="checkbox">
                      <input type="checkbox"> SMS Notification
                    </label>
                  </td>
                  <td>
                    <input type="text" class="input-large" placeholder="Registered mobile phone number">
                  </td>
                </tr>
              </table>

              <button type="submit" class="btn">Save changes</button>
            </form>

          </div>

          <div class="span3">
            <div style="display: block;" class="text-center">
              <span aria-hidden="true" class="icomoon icomoon-mobile-5" style="font-size: 10em; line-height: 1.2em;"></span>
            </div>
            <h4>What kind of number should I buy?</h4>
            <p>First impression is always important. Your number should tell you about something about you or just you!</p>
          </div>

        </div>
      </div>
      <!-- end notifier -->






      <!-- reporter -->
      <div class="tab-pane {{(views.reporter==true) && 'active'}}">
        <div class="tab-header">
          <h3 class="pull-left">Recent calls</h3>
        </div>
        <hr>

        <div class="row-fluid">

          <div class="span9">
            <p>Oneline provides all your recent calls only to you.</p>

            <!-- <form class="form-inline well">
              <div class="control-group pull-left" style="margin-right: 5px">
                <input type="text" 
                        style="width: 190px" 
                        name="daterange" 
                        ng-model="daterange" 
                        daterangepicker="" 
                        class="ng-pristine ng-valid" 
                        data-toggle="daterangepicker"
                        placeholder="16-06-2013 / 23-06-2013">
                <i class="icon-calendar" style="position: relative; margin: 1px 0 0 -24px"></i>
              </div>
            </form> -->

            <div class="well">          
              <div class="btn-group">
                <button type="button" class="btn">Today</button>
                <button type="button" class="btn">Yesterday</button>
                <button type="button" class="btn">Last 3 days</button>
              </div>
            </div>

            <!-- <h4>Numbers</h4> -->
            
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><a href="#">Call type</a></th>
                  <th><a href="#">From</a></th>
                  <th><a href="#">Date</a></th>
                  <th><a href="#">Duration</a></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><span class="label label-warning">Missed</span></td>
                  <td>+31 4520542</td>
                  <td>17-6-2013 14:38:11</td>
                  <td>00:00:00</td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-mini">Block</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><span class="label label-important">Blacklist</span></td>
                  <td>+31 1234569</td>
                  <td>17-6-2013 15:00:32</td>
                  <td>00:00:00</td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-mini">Allow</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><span class="label label-success">Answered</span></td>
                  <td>+31 2352345</td>
                  <td>17-6-2013 15:15:11</td>
                  <td>00:02:47</td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-mini">Block</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- <div class="pagination pagination-right">
              <ul>
                <li class="disabled"><a href="#">«</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
             </ul>
            </div> -->

          </div>

          <div class="span3">
            <div style="display: block;" class="text-center">
              <span aria-hidden="true" class="icomoon icomoon-calendar-5" style="font-size: 10em; line-height: 1.2em;"></span>
            </div>
            <h4>Quisque condimentum at nibh vel convallis.</h4>
            <p>Duis pellentesque sagittis justo in lacinia. Sed nec dignissim metus. Nam est felis, mattis eget volutpat et, aliquet et massa.</p>
            <p>Pellentesque eget ante non mauris aliquet iaculis quis sed orci. Curabitur quis magna ac mauris adipiscing bibendum. Duis semper semper ante. Vestibulum euismod lorem id dignissim sagittis.</p>
          </div>

        </div>

      </div>
      <!-- end reporter -->






      <!-- guarder -->
      <div class="tab-pane {{(views.guarder==true) && 'active'}}">
        <div class="tab-header">
          <h3 class="pull-left">Blacklist</h3>
        </div>
        <hr>

        <div class="row-fluid">

          <div class="span9">
            <p>Oneline can block any unwanted incoming calls and let them know kindly.</p>

            <form class="form-inline well">
              <input type="text" class="input-medium" placeholder="Label">&nbsp;
              <input type="password" class="input-large" placeholder="Telefon number">&nbsp;
              <button type="submit" class="btn">Add to blacklist</button>
            </form>

            <!-- <h4>Numbers</h4> -->
            
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Label</th>
                  <th>Telefon number</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Home</td>
                  <td>+31 (78) 7501234</td>
                  <td>
                    <button type="button" class="btn btn-mini">Allow</button>
                  </td>
                </tr>
                <tr>
                  <td>Work</td>
                  <td>+31 (629) 123456</td>
                  <td>
                    <button type="button" class="btn btn-mini">Allow</button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>

          <div class="span3">
            <div style="display: block;" class="text-center">
              <span aria-hidden="true" class="icomoon icomoon-user-block-2" style="font-size: 10em; line-height: 1.2em;"></span>
            </div>
            <h4>Aenean erat neque, dignissim non magna vitae</h4>
            <p>Integer risus sapien, adipiscing sit amet quam vel, tempus feugiat libero. Nulla adipiscing imperdiet dictum. Nulla sagittis augue magna, lobortis egestas massa pretium vel. Nam congue malesuada nisi, sed elementum odio commodo mollis. Morbi sed enim imperdiet, suscipit leo non, ultricies massa. Proin a tincidunt urna.</p>
          </div>
        </div>

      </div>
      <!-- end guarder -->






    </div>
    <!-- end tabs content -->

  </div>
</div>