<!-- <div class="page-header">
  <h2>OneLine</h2>
</div> -->

<br><br>

<!-- app -->
<div class="row-fluid">
  <div class="tabbable tabs-left">
    
    <!-- tabs -->
    <ul class="nav nav-tabs nav-tabs-app" style="margin-right: 0px;">

      <li class="{{(views.purchaser==true) && 'active'}}">
        <a href="#purchaser" 
            ng-click="setViewTo('purchaser')" 
            data-toggle="tab"><span aria-hidden="true" class="icomoon icomoon-cart-4"></span> Buy number</a>
      </li>

      <li class="{{(views.manager==true) && 'active'}}">
        <a href="#manager" 
            ng-click="setViewTo('manager')" 
            data-toggle="tab"><span aria-hidden="true" class="icomoon icomoon-contact-add"></span> Add number</a>
      </li>

      <li class="{{(views.notifier==true) && 'active'}}">
        <a href="#notifier" 
            ng-click="setViewTo('notifier')" 
            data-toggle="tab"><span aria-hidden="true" class="icomoon icomoon-bullhorn-2"></span> Call notifications</a>
      </li>

      <li class="{{(views.reporter==true) && 'active'}}">
        <a href="#reporter" 
            ng-click="setViewTo('reporter')" 
            data-toggle="tab"><span aria-hidden="true" class="icomoon icomoon-file-10"></span> Recent calls</a>
      </li>

      <li class="{{(views.guarder==true) && 'active'}}">
        <a href="#guarder" 
            ng-click="setViewTo('guarder')" 
            data-toggle="tab"><span aria-hidden="true" class="icomoon icomoon-thumbs-up-5"></span> Blacklist</a>
      </li>

    </ul>
    <!-- end tabs -->


    <!-- tabs content -->
    <div class="tab-content">



      <!-- purchaser -->
      <div class="tab-pane {{(views.purchaser==true) && 'active'}}" id="purchaser">
        <div class="tab-header">
          <h3 class="pull-left">Buy number</h3>
        </div>
        <hr>

        <ul class="breadcrumb">
          <li>
            <span class="label">1</span>&nbsp;
            <a ng-click="switchStep(1)" ng-show="purchaser.step > 1">Buy number</a>
            <span ng-show="purchaser.step < 2">Buy number</span>
            <span class="divider">></span>
          </li>
          <li>
            <span class="label">2</span>&nbsp;
            <a ng-click="switchStep(2)" ng-show="purchaser.step > 2">Payment types</a>
            <span ng-show="purchaser.step < 3">Payment types</span>
            <span class="divider">></span>
          </li>
          <li>
            <span class="label">3</span>&nbsp;
            <a ng-click="switchStep(3)" ng-show="purchaser.step > 3">User information</a>
            <span ng-show="purchaser.step < 4">User information</span>
            <span class="divider">></span>
          </li>
          <li>
            <span class="label">4</span>&nbsp;
            <a ng-click="switchStep(4)" ng-show="purchaser.step > 4">Credit card details</a>
            <span ng-show="purchaser.step < 5">Credit card details</span>
            <span class="divider">></span>
          </li>
          <li>
            <span class="label">5</span>&nbsp;
            <a ng-click="switchStep(5)" ng-show="purchaser.step > 5">Confirmation</a>
            <span ng-show="purchaser.step < 6">Confirmation</span>
          </li>
        </ul>

        <ul>

          <li ng-show="purchaser.step == 1">
            <h4>Number types</h4>
            <p>We are providing many options for your Oneline number.</p>

            <input type="radio" name="order.type" ng-model="order.type" value="">&nbsp;Local numbers
            <input type="radio" name="order.type" ng-model="order.type" value="">&nbsp;Virtual numbers
            <input type="radio" name="order.type" ng-model="order.type" value="">&nbsp;Premium

          </li>

          <li ng-show="purchaser.step == 2">
            <h4>Payment types</h4>
            <p>Payment types</p>
          </li>

          <li ng-show="purchaser.step == 3">
            <h4>User information</h4>
            <p>User information</p>
          </li>

          <li ng-show="purchaser.step == 4">
            <h4>Credit card details</h4>
            <p>Credit card details</p>
          </li>

          <li ng-show="purchaser.step == 5">
            <h4>Confirmation</h4>
            <p>Confirmation</p>
          </li>
        </ul>

        <hr>

        <ul class="pager">
          <li class="previous">
            <a ng-click="decreaseStep()" ng-show="purchaser.step > 1">Previous</a>
          </li>
          <li class="next">
            <a ng-click="increaseStep()" ng-show="purchaser.step < 5">Next</a>
          </li>
        </ul>

      </div>
      <!-- end purchaser -->



      <!-- manager -->
      <div class="tab-pane {{(views.manager==true) && 'active'}}" id="manager">
        <div class="tab-header">
          <h3 class="pull-left">Add number</h3>
        </div>
        <hr>

        <div class="row-fluid">

          <div class="span9">
            <form class="form-inline well">
              <input type="text" class="input-medium" placeholder="Label">&nbsp;
              <input type="password" class="input-medium" placeholder="Telefon number">&nbsp;
              <button type="submit" class="btn">Add</button>
            </form>

            <!-- <h4>Numbers</h4> -->
            
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="width: 100px;"></th>
                  <th>Label</th>
                  <th>Telefon number</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><span class="label label-success">Verified</span></td>
                  <td>Home</td>
                  <td>+31 (78) 7501234</td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-mini">Edit</button>
                      <button type="button" class="btn btn-mini">Delete</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><span class="label label-warning">Pending</span></td>
                  <td>Work</td>
                  <td>+31 (629) 123456</td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-mini">Edit</button>
                      <button type="button" class="btn btn-mini">Delete</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="span3">
            <div style="display: block;" class="text-center">
              <span aria-hidden="true" class="icomoon icomoon-mobile-5" style="font-size: 10em; line-height: 1.2em;"></span>
            </div>
            <h4>What kind of number should I buy?</h4>
            <p>First impression is always important. Your number should tell you about something about you or just you!</p>
          </div>

        </div>

      </div>
      <!-- end manager -->



      <!-- notifier -->
      <div class="tab-pane {{(views.notifier==true) && 'active'}}" id="notifier">
        <div class="tab-header">
          <h3 class="pull-left">Call notifications</h3>
        </div>
        <hr>
        <p>Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <!-- end notifier -->



      <!-- reporter -->
      <div class="tab-pane {{(views.reporter==true) && 'active'}}" id="reporter">
        <div class="tab-header">
          <h3 class="pull-left">Recent calls</h3>
        </div>
        <hr>
        <p>Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <!-- end reporter -->



      <!-- guarder -->
      <div class="tab-pane {{(views.guarder==true) && 'active'}}" id="guarder">
        <div class="tab-header">
          <h3 class="pull-left">Blacklist</h3>
        </div>
        <hr>
        <p>Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
      </div>
      <!-- end guarder -->



    </div>
    <!-- end tabs content -->

  </div>
</div>
<!-- end app -->