<br/><br/>
<div class="row-fluid">
  <div class="tabbable tabs-left">
    <ul style="margin-right: 0;" class="nav nav-tabs nav-tabs-app">
      <li class="{{(views.purchaser==true) &amp;&amp; 'active'}}"><a ng-click="resetPurchaser(); setViewTo(&quot;purchaser&quot;)" data-toggle="tab"><span aria-hidden="true" class="icomoon icomoon-cart"></span>Online number</a></li>
      <li class="{{(views.manager==true) &amp;&amp; 'active'}}"><a ng-click="setViewTo(&quot;manager&quot;); connections.list();" data-toggle="tab"><span aria-hidden="true" class="icomoon icomoon-oneline_number"></span>Connected numbers</a></li>
      <li class="{{(views.notifier==true) &amp;&amp; 'active'}}"><a ng-click="setViewTo(&quot;notifier&quot;)" data-toggle="tab"><span aria-hidden="true" class="icomoon icomoon-oneline_notification_settings"></span>Notification settings</a></li>
      <li class="{{(views.reporter==true) &amp;&amp; 'active'}}"><a ng-click="setViewTo(&quot;reporter&quot;)" data-toggle="tab"><span aria-hidden="true" class="icomoon icomoon-oneline_missedcalls"></span>Call list</a></li>
      <li class="{{(views.guarder==true) &amp;&amp; 'active'}}"><a ng-click="setViewTo(&quot;guarder&quot;)" data-toggle="tab"><span aria-hidden="true" class="icomoon icomoon-oneline_blacklist"></span>Blacklist</a></li>
      <li style="display: none;" class="{{(views.overview==true) &amp;&amp; 'active'}}"><a ng-click="setViewTo(&quot;overview&quot;)" data-toggle="tab"><span aria-hidden="true" class="icomoon icomoon-eye"></span>Overview</a></li>
    </ul>
    <div class="tab-content">
      <div ng-controller="purchaser" class="tab-pane {{(views.purchaser==true) &amp;&amp; 'active'}}">
        <div class="tab-header">
          <h2 class="pull-left">Buy number</h2>
        </div>
        <hr/>
        <div class="row-fluid">
          <div class="span12 well">
            <div style="display: inline; float: left; margin-top: 5px;"><span aria-hidden="true" style="font-size: 8em; margin-right: 20px; color: #646199;" class="icomoon icomoon-mobile-5"></span></div>
            <h2 style="margin-top: 25px;">What kind of number should I buy?</h2>
            <p>First impression is always important. Your number should tell you about something about you or just you!</p>
          </div>
        </div>
        <ul ng-show="purchaser.step &gt; 0" class="breadcrumb-steps">
          <li class="{{(purchaser.step &gt; 0) &amp;&amp; 'step-active'}}"><span class="label">1</span><a ng-click="switchStep(1)">Number selection</a></li>
          <li class="{{(purchaser.step &gt; 1) &amp;&amp; 'step-active'}}"><span class="label">2</span><a ng-click="switchStep(2)" ng-show="order.number">Payment types</a><span ng-hide="order.number" class="breadcrumb-step-text">Payment types</span></li>
          <li class="{{(purchaser.step &gt; 2) &amp;&amp; 'step-active'}}"><span class="label">3</span><a ng-click="switchStep(3)" ng-hide="(!order.monthly &amp;&amp; !order.yearly) || purchaser.step == 1">User information</a><span ng-show="(!order.monthly &amp;&amp; !order.yearly) || purchaser.step == 1" class="breadcrumb-step-text">User information</span></li>
        </ul>
        <div ng-show="purchaser.step == 0" class="row-fluid">
          <div class="span4">
            <h4>Online business</h4>
            <p>0800 numbers<br/>0900 numbers</p>
            <p>Coming soon..</p>
          </div>
          <div class="span4">
            <button ng-click="switchStep(1)" class="btn btn-primary">Buy a number now</button>
          </div>
          <div class="span4">
            <h4>Online personal</h4>
            <p>Local numbers</p>
            <p>Virtual numbers are available</p>
          </div>
        </div>
        <div ng-show="purchaser.step &gt; 0" class="row-fluid">
          <div class="row-fluid">
            <div style="margin-bottom: 15px;" class="span12">
              <div ng-show="purchaser.step == 1">
                <h2>Select your number</h2>
                <p>We are providing many options for your Oneline number.</p>
              </div>
              <div ng-show="purchaser.step == 2">
                <h2>Payment types</h2>
                <p>Some information about the payment types.</p>
              </div>
              <div ng-show="purchaser.step == 3">
                <h2>User information</h2>
                <p>Some information about the user information.</p>
              </div>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span9">
              <ul style="list-style: none; margin: 0; padding: 0;">
                <li ng-show="purchaser.step == 1">
                  <form class="form-horizontal">
                    <div style="position: relative;" class="control-group well">
                      <label for="inputEmail" class="control-label">Types</label>
                      <div class="controls">
                        <ul style="list-style: none; margin: 0; padding: 0; margin-top: 5px;">
                          <li ng-repeat="package in packages" style="display: inline; float: left; margin: 0 15px 0 0;">
                            <label class="radio">
                              <input type="radio" ng-model="order.package" ng-click="setPackage(package.id)" value="{{package.id}}"/>{{package.label}}
                            </label>
                          </li>
                        </ul>
                      </div>
                      <div class="step-watermark">1</div>
                    </div>
                    <div style="position: relative;" ng-show="(order.package==1) || (order.package==2)" class="control-group well">
                      <label for="inputPassword" class="control-label">Country</label>
                      <div class="controls">
                        <select ng-model="order.country" ng-options="country.id as country.label for country in countries" disabled="disabled"></select>
                      </div>
                      <div class="step-watermark">2</div>
                    </div>
                    <div style="position: relative;" ng-show="(order.package==1)" class="control-group well">
                      <label for="inputPassword" class="control-label">Regions</label>
                      <div class="controls">
                        <select ng-model="order.region" ng-options="region.id as region.label for region in regions" ng-change="setRegion()">
                          <option value="">Please select your region</option>
                        </select>
                      </div>
                      <div class="step-watermark">3</div>
                    </div>
                    <div style="position: relative;" ng-show="(order.package == 1) &amp;&amp; order.region" class="control-group well">
                      <label for="inputPassword" class="control-label">Numbers</label>
                      <div class="controls">
                        <ul id="myTab" class="nav nav-tabs">
                          <li class="{{(tabs.normals==true) &amp;&amp; 'active'}}"><a ng-click="tabs.normals=true; tabs.premiums=false">Normals</a></li>
                          <li class="{{(tabs.premiums==true) &amp;&amp; 'active'}}"><a ng-click="tabs.premiums=true; tabs.normals=false;">Premiums</a></li>
                        </ul>
                        <div style="background-color: white; padding: 20px; margin-top: -20px; border: 1px solid #ddd; border-top: none;">
                          <div id="normals" ng-show="tabs.normals">
                            <table class="table table-striped">
                              <tr ng-repeat="number in numbers.normals">
                                <td>
                                  <label class="radio">
                                    <input type="radio" ng-model="order.number" value="{{number}}" ng-click="order.premium=false"/>+{{order.country}} ({{order.region}}) {{number}}
                                  </label>
                                </td>
                              </tr>
                            </table>
                          </div>
                          <div id="premiums" ng-show="tabs.premiums">
                            <table class="table table-striped">
                              <tr ng-repeat="number in numbers.premiums">
                                <td>
                                  <label class="radio">
                                    <input type="radio" ng-model="order.number" value="{{number}}" ng-click="order.premium=true"/>+{{order.country}} ({{order.region}}) {{number}}
                                  </label>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="step-watermark">4</div>
                    </div>
                    <div style="position: relative;" ng-show="(order.package==2)" class="control-group well">
                      <label for="inputPassword" class="control-label">Services</label>
                      <div class="controls">
                        <select ng-model="order.virtual" ng-options="virtual.id as virtual.label for virtual in virtuals" ng-change="setVirtual()" class="span6">
                          <option value="">Please select a virtual service</option>
                        </select>
                      </div>
                      <div class="step-watermark">3</div>
                    </div>
                    <div style="position: relative;" ng-show="(order.package==2) &amp;&amp; order.virtual" class="control-group well">
                      <label for="inputPassword" class="control-label">Virtual area code</label>
                      <div class="controls">
                        <ul style="list-style: none; padding: 0; margin: 5px 0 0;">
                          <li ng-repeat="range in ranges" style="display: inline; float: left; width: 60px; margin: 0 15px 0 0;">
                            <label class="radio">
                              <input type="radio" ng-model="order.range" value="{{range}}" ng-click="setVirtualArea()"/>{{range}}
                            </label>
                          </li>
                        </ul>
                      </div>
                      <div class="step-watermark">4</div>
                    </div>
                    <div style="position: relative;" ng-show="(order.package==2) &amp;&amp; order.virtual &amp;&amp; order.range" class="control-group well">
                      <label for="inputPassword" class="control-label">Numbers</label>
                      <div class="controls">
                        <ul id="myTab" class="nav nav-tabs">
                          <li class="{{(tabs.normals==true) &amp;&amp; 'active'}}"><a ng-click="tabs.normals=true; tabs.premiums=false">Normals</a></li>
                          <li class="{{(tabs.premiums==true) &amp;&amp; 'active'}}"><a ng-click="tabs.premiums=true; tabs.normals=false;">Premiums</a></li>
                        </ul>
                        <div style="background-color: white; padding: 20px; margin-top: -20px; border: 1px solid #ddd; border-top: none;">
                          <div id="normals" ng-show="tabs.normals">
                            <table class="table table-striped">
                              <tr ng-repeat="number in numbers.normals">
                                <td>
                                  <label class="radio">
                                    <input type="radio" ng-model="order.number" value="{{number}}" ng-click="order.premium=false"/>+{{order.country}} ({{order.range}}) {{number}}
                                  </label>
                                </td>
                              </tr>
                            </table>
                          </div>
                          <div id="premiums" ng-show="tabs.premiums">
                            <table class="table table-striped">
                              <tr ng-repeat="number in numbers.premiums">
                                <td>
                                  <label class="radio">
                                    <input type="radio" ng-model="order.number" value="{{number}}" ng-click="order.premium=true"/>+{{order.country}} ({{order.range}}) {{number}}
                                  </label>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="step-watermark">4</div>
                    </div>
                  </form>
                </li>
                <li ng-show="purchaser.step == 2">
                  <div class="row-fluid">
                    <ul class="thumbnails">
                      <li class="span6">
                        <div ng-click="order.monthly=true; order.yearly=false;" class="well thumb-btn {{(order.monthly) &amp;&amp; 'thumb-btn-active'}}">
                          <div class="caption">
                            <h3>{{prices.monthly}}€ per month</h3>
                            <p>Oneline Personal<br/>Monthly<br/>Subscription</p>
                          </div>
                        </div>
                      </li>
                      <li class="span6">
                        <div ng-click="order.monthly=false; order.yearly=true;" class="well thumb-btn {{(order.yearly) &amp;&amp; 'thumb-btn-active'}}">
                          <div class="caption">
                            <h3>{{prices.yearly}}€ per year</h3>
                            <p>Oneline Personal<br/>Monthly<br/>Subscription</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <li ng-show="purchaser.step == 3">
                  <div class="well">
                    <p>User information collecting..</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="span3">
              <div id="basket">
                <div class="well">
                  <div ng-hide="order.package">You have not selected anything yet.</div>
                  <dl ng-show="order.package">
                    <dt>Number type:</dt>
                    <dd>{{order.package | translatePackage}}<span ng-show="order.number">-<span ng-show="order.premium">Premium</span><span ng-hide="order.premium">Normal</span></span></dd>
                    <dt>Country:</dt>
                    <dd>{{order.country | translateCountry}}</dd>
                    <dt ng-show="(order.package==1) &amp;&amp; order.region">Region:</dt>
                    <dd ng-show="(order.package==1) &amp;&amp; order.region">{{order.region | translateRegion:order.country}}</dd>
                    <dt ng-show="(order.package==2) &amp;&amp; order.virtual">Virtual service:</dt>
                    <dd ng-show="(order.package==2) &amp;&amp; order.virtual">{{order.virtual | translateService}}</dd>
                    <dt ng-show="(order.package==2) &amp;&amp; order.virtual &amp;&amp; order.range">Selected virtual area code:</dt>
                    <dd ng-show="(order.package==2) &amp;&amp; order.virtual &amp;&amp; order.range">{{order.range}}</dd>
                    <dt ng-show="order.number">Number:</dt>
                    <dd ng-show="order.number"><span ng-show="(order.package==1)">+{{order.country}} ({{order.region}}) {{order.number}}</span><span ng-show="(order.package==2)">+{{order.country}} ({{order.range}}) {{order.number}}</span></dd>
                    <dt ng-show="order.monthly || order.yearly">Subscription:</dt>
                    <dd><span ng-show="order.monthly">Monthly payment</span><span ng-show="order.yearly">Yearly payment</span></dd>
                    <dt ng-show="order.monthly || order.yearly">Total:</dt>
                    <dd ng-show="order.monthly || order.yearly"><span ng-show="order.monthly">{{prices.monthly}}€ per month</span><span ng-show="order.yearly">{{prices.yearly}}€ per year</span></dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <hr/>
              <ul ng-show="purchaser.step &gt; 0" class="pager">
                <li ng-show="purchaser.step == 2" class="previous"><a ng-click="decreaseStep()">Number selection</a></li>
                <li ng-show="purchaser.step == 3" class="previous"><a ng-click="decreaseStep()">Payment types</a></li>
                <li ng-show="purchaser.step == 1" class="next {{(!order.number) &amp;&amp; 'disabled'}}"><a ng-click="increaseStep()">Payment types</a></li>
                <li ng-show="purchaser.step == 2" class="next {{(!order.monthly &amp;&amp; !order.yearly) &amp;&amp; 'disabled'}}"><a ng-click="increaseStep()">User information</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div ng-controller="manager" class="tab-pane {{(views.manager==true) &amp;&amp; 'active'}}">
        <div class="tab-header">
          <h2 class="pull-left">Add a connected number</h2>
        </div>
        <hr/>
        <div class="row-fluid">
          <div style="min-height: 300px;" class="span12">
            <form ng-submit="connections.save()" class="form-inline well">
              <input ng-model="connection.label" type="text" placeholder="Label" class="input-large"/>
              <div id="inputPhoneNumber" style="display: inline;" class="control-group {{(phoneNumberParsed.message) &amp;&amp; &quot;error&quot;}}">
                <input ng-model="connection.contactInfo" type="text" placeholder="e.g. Phone number…" ng-change="checkNumber()" class="input-large"/>
              </div>
              <button type="button" ng-show="connection.label.length &gt; 0" ng-click="resetConnection();" class="btn">Cancel</button>
              <button type="submit" class="btn {{(phoneNumberParsed.result == false) &amp;&amp; &quot;disabled&quot;}}">Save</button><span style="margin-left: 10px;" ng-hide="phoneNumberParsed.result" class="text-error"><small><i>{{phoneNumberParsed.message}}</i></small></span>
            </form>
            <h4>Numbers</h4>
            <hr/>
            <div ng-show="verified.status" class="alert alert-{{(verified.result) &amp;&amp; 'success' || 'error'}}">
              <button type="button" ng-click="verified.status = false" data-dismiss="alert" class="close">×</button><span ng-show="verified.result">Number is verified and ready to use.</span><span ng-hide="verified.result">There was an error with verifiying number.<br/>Did you enter the correct verification code?<br/>If so please try again and if the problem resists, please get in touch with us.</span>
            </div>
            <p ng-show="(data.connected.list.length == 0)">There are no connected numbers. Please add some.</p>
            <table ng-show="(data.connected.list.length &gt; 0)" class="table table-striped">
              <thead>
                <tr>
                  <th style="width: 100px;"></th>
                  <th>Label</th>
                  <th>Connection</th>
                  <th>Type</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="number in data.connected.list">
                  <td style="vertical-align: middle"><span ng-show="number.verified" class="label label-success">Verified</span><span ng-hide="number.verified" class="label label-error">Not Verified</span></td>
                  <td style="vertical-align: middle">{{number.label}}</td>
                  <td style="vertical-align: middle">{{number.contactInfo}}</td>
                  <td style="vertical-align: middle">{{number.contactInfoTag}}</td>
                  <td style="vertical-align: middle, text-align: right">
                    <button ng-click="connections.remove(number)" type="button" style="margin-right:5px" class="btn">Delete</button>
                    <button ng-click="connections.edit(number)" style="margin-right:5px" type="button" ng-hide="number.verified" class="btn">Edit</button>
                    <div style="margin-top:10px; display: inline" ng-show="verifying[number.id]" class="input-append">
                      <input id="appendedInputButton" type="text" ng-model="verificationCode[number.id]" autofocus="autofocus" class="span3"/>
                      <button type="button" ng-click="resetVerifiers()" class="btn">Cancel</button>
                      <button type="button" ng-click="connections.verify.confirm(number)" class="btn">Confirm</button>
                    </div>
                    <button id="verifyBtn-{{number.id}}" ng-hide="number.verified || verifying[number.id]" ng-click="connections.verify.initiate(number)" type="button" class="btn">Verify</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <p>{{phoneNumberParsed.all}}</p>
          </div>
        </div>
      </div>
      <div ng-controller="notifier" class="tab-pane {{(views.notifier==true) &amp;&amp; 'active'}}">
        <div class="tab-header">
          <h2 class="pull-left">Missed Call Notifications</h2>
        </div>
        <hr/>
        <div class="row-fluid">
          <div style="min-height: 300px;" class="span12">
            <p>Your smart secretary can send notifcations about your missed calls.</p>
            <form ng-submit="settings.save()" class="form-inline">
              <table class="table table-striped">
                <tr>
                  <td>
                    <label class="checkbox">
                      <input type="checkbox" ng-model="data.settings.email.status"/>Email Notification
                    </label>
                  </td>
                  <td>
                    <select ng-model="data.settings.email.target" ng-options="target.id as target.value for target in data.settings.email.targets" ng-disabled="!data.settings.email.status">
                      <option value="{{ target.id }}" ng-selected="data.settings.email.target">{{ target.value }}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="checkbox">
                      <input type="checkbox" ng-model="data.settings.sms.status"/>SMS Notification
                    </label>
                  </td>
                  <td>
                    <select ng-model="data.settings.sms.target" ng-options="target.id as target.value for target in data.settings.sms.targets" ng-disabled="!data.settings.sms.status">
                      <option value="{{ target.id }}" ng-selected="data.settings.sms.target">{{ target.value }}</option>
                    </select>
                  </td>
                </tr>
              </table>
              <button type="submit" class="btn">Save changes</button>
            </form>
          </div>
        </div>
      </div>
      <div ng-controller="reporter" class="tab-pane {{(views.reporter==true) &amp;&amp; 'active'}}">
        <div class="tab-header">
          <h2 class="pull-left">Recent calls</h2>
        </div>
        <hr/>
        <div class="row-fluid">
          <div style="min-height: 300px;" class="span12">
            <p ng-hide="logsLoading">Oneline provides all your recent calls only to you.</p>
            <p ng-show="logsLoading">Loading recent calls..</p>
            <table ng-hide="logsLoading" class="table table-striped">
              <thead>
                <tr>
                  <th>Call type</th>
                  <th>From</th>
                  <th>Date</th>
                  <th>Duration</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="log in logsList">
                  <td style="vertical-align: middle"><span class="label {{ (log.callState == &quot;ANSWERED&quot;) &amp;&amp; &quot;label-success&quot;}} {{ (log.callState == &quot;INCOMING&quot;) &amp;&amp; &quot;label-warning&quot;}} {{ (log.callState == &quot;MISSED&quot;) &amp;&amp; &quot;label-important&quot;}}">{{ log.callState }}</span></td>
                  <td style="vertical-align: middle">{{ log.address }}</td>
                  <td style="vertical-align: middle">{{ log.startTime | nicelyDate }}</td>
                  <td style="vertical-align: middle">{{ log.endTime - log.startTime | calculateTime }}</td>
                  <td style="vertical-align: middle">
                    <button type="button" ng-click="logs.block(log)" ng-hide="log.blocked" class="btn">Block</button>
                    <button type="button" ng-click="logs.allow(log)" ng-show="log.blocked" class="btn">Allow</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div ng-controller="guarder" class="tab-pane {{(views.guarder==true) &amp;&amp; 'active'}}">
        <div class="tab-header">
          <h2 class="pull-left">Blacklist</h2>
        </div>
        <hr/>
        <div class="row-fluid">
          <div style="min-height: 300px;" class="span12">
            <p>Oneline can block any unwanted incoming calls and let them know kindly</p>
            <form ng-submit="blacklists.block()" class="form-inline well">
              <input ng-model="blacklist.label" type="text" placeholder="Label" class="input-medium"/>
              <input ng-model="blacklist.contactInfo" type="text" placeholder="e.g. Phone number…" class="input-large"/>
              <button type="button" ng-show="blacklist.label.length &gt; 0" ng-click="resetBlacklist();" class="btn">Cancel</button>
              <button type="submit" class="btn">Add to blacklist</button>
            </form>
            <h4>Numbers</h4>
            <p ng-show="(data.blacklist.list.length == 0)">There are no blacklisted numbers.</p>
            <table ng-show="(data.blacklist.list.length &gt; 0)" class="table table-striped">
              <thead>
                <tr>
                  <th>Label</th>
                  <th>Telefon number</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="number in data.blacklist.list">
                  <td style="vertical-align: middle">{{number.label}}</td>
                  <td style="vertical-align: middle">{{number.contactInfo}}</td>
                  <td>
                    <button ng-click="blacklists.allow(number)" type="button" class="btn">Allow</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div ng-controller="overview" style="display: none;" class="tab-pane {{(views.overview==true) &amp;&amp; 'active'}}">
        <div class="tab-header">
          <h2 class="pull-left">Overview (Experimental)</h2>
        </div>
        <hr/>
        <div class="row-fluid">
          <div style="min-height: 462px;" class="span12">
            <div id="birdseye"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>