br
br
.row-fluid

  .tabbable.tabs-left

    .tab-content
      .tab-pane(class="active")
      .tab-header
        h2.pull-left Overview
        button(class='btn pull-right', ng-click='toggleAll()') Close All
      hr
      .row-fluid
        .span12(style='min-height: 462px;')
          #birdseye