<div id="welcome">
  <div id="login" class="boxed">
    <form><img ng-src="images/oneline_logo_big.png">
      <h4 class="form-signin-heading">Forget your password?</h4>
      <p style="font-size: 12px; margin-bottom: 25px">Please provide your mobile number that you used when you signed up to Oneline. We will send you an SMS to share your temporary password.</p>
      <div ng-show="alert.login.display" class="alert {{alert.login.type}}">
        <button type="button" ng-click="alert.login=false" class="close">×</button>{{alert.login.message}}
      </div>
      <input type="text" ng-model="logindata.username" placeholder="Mobile number" autofocus="autofocus">
      <button type="submit" class="btn btn-large btn-primary">Reset password</button>
      <p><small><a href="#login">Login</a></small></p><span class="version">v{{config.version}}</span>
    </form>
  </div>
</div>