<div id="welcome">
  <div id="preloader"><img ng-src="images/oneline_logo_big.png">
    <h4 class="form-signin-heading">Setting up the application</h4>
    <div style="width: 100%" class="progress progress-striped active">
      <div class="bar"></div>
    </div><span class="muted"></span>
  </div>
  <div id="login" class="boxed">
    <form ng-submit="login()"><img ng-src="images/oneline_logo_big.png">
      <h4 class="form-signin-heading">Welcome back</h4>
      <p style="font-size: 12px; margin-bottom: 25px"><a href="#register">Register an account</a></p>
      <div ng-show="alert.login.display" class="alert">
        <button type="button" ng-click="alert.login=false" class="close">×</button>{{alert.login.message}}
      </div>
      <input type="text" ng-model="logindata.username" placeholder="Mobile number" autofocus="autofocus">
      <input type="password" ng-model="logindata.password" placeholder="Password">
      <label class="checkbox span3">
        <input type="checkbox" ng-model="logindata.remember">Remember me
      </label>
      <button type="submit" class="btn btn-large btn-primary">{{ui.login.button_login}}</button>
      <p><small><a href="#forgotpass">{{ui.login.forgot_password}}</a></small></p>
      <!-- span.version v{{config.app.version}}-->
    </form>
  </div>
</div>