<br><br>
<div class="row-fluid">
  <div class="tabbable tabs-left">
    <ul style="margin-right: 0" class="nav nav-tabs nav-tabs-app">
      <li class="active"><a href="#" data-toggle="tab"><span aria-hidden="true" class="icomoon icomoon-tree"></span>Birds eye look</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">
        <div class="tab-header">
          <h2 class="pull-left">Birds eye overview</h2>
        </div>
        <hr>
        <div class="row-fluid">
          <div style="min-height: 300px" class="span12">
            <div id="birdseye"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>