<div id="welcome">
  <!-- loginForm-->
  <div id="login" class="boxed">
    <form ng-submit="login()"><img ng-src="images/oneline_logo_big.png">
      <h4 class="form-signin-heading">Register an account</h4>
      <!-- alert login-->
      <div class="alert">.{{alert.login.type}}(ng-show='alert.login.display')
        <button type="button" ng-click="alert.login=false" class="close">×</button>{{alert.login.message}}
      </div>
      <!-- end login password-->
      <input type="text" ng-model="logindata.username" placeholder="Mobile number" autofocus="autofocus">
      <input type="text" ng-model="logindata.username" placeholder="Name">
      <input type="text" ng-model="logindata.username" placeholder="Email">
      <input type="text" ng-model="logindata.username" placeholder="Password">
      <input type="text" ng-model="logindata.username" placeholder="Retype password">
      <label style="margin-left: -10px" class="checkbox span3">
        <input type="checkbox" ng-model="logindata.remember"><span style="font-size: 12px">I agree to the<a href="terms.html" target="_blank">Terms of Service</a>and<a href="privacy.html" target="_blank">Privacy Policy</a></span>
      </label>
      <button type="submit" class="btn btn-large btn-primary">Register</button>
      <p><small><a href="#login">login</a></small></p><span class="version">v{{config.version}}</span>
    </form>
  </div>
  <!-- end loginForm-->
  <!-- end change pass-->
</div>